<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><img src="../../assets/logo.png" style="width: 85px;"></a>
        </div>
        <ul class="nav navbar-nav" style="float: right">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/service" routerLinkActive="active">service</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
    </div>
</nav>
<div class="container-full">
    <router-outlet></router-outlet>
    <ng-container *ngComponentOutlet="welcome"></ng-container>
    <div style="text-align:center">
        <span appHighlight>Welcome to {{title}}.</span>
    </div>
    <!--<p appHighlight="black">Highlighted in yellow</p>-->
    <p appHighlight highlightColor="black">Highlighted with parent component's color</p>
</div>
